rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    // Requiere autenticación
    match /tenants/{tenantId}/{allPaths=**} {
      allow read, write: if request.auth != null;
    }
    
    // Documentos médicos
    match /docs-medicos/{userId}/{allPaths=**} {
      allow read, write: if request.auth.uid == userId;
    }
  }
}
